body{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:auto;
    font-family: 'Roboto', sans-serif;
}
.animation
    {
        background: linear-gradient(to bottom, #FF79DA 1%, #9356DC 91%) ;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        z-index: 900;
        font-size: 40px;
        animation: attente 2s 1s both;
        
        
        
     }  
     .animation::before{
        content: "";
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 180px;
        border: 15px solid $colour-grey;
        animation: attente2 2s linear infinite;
        
     }
    .animation::after {
        content: "";
        width: 100px;
        height: 100px;
        border: 15px solid $colour-accent;
        animation: attente1 2s linear infinite;
    }
    .fa-utensils
    {
        
        content: "";
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        color:$colour-greylight;
        animation: attente2 2s linear infinite;
        
    
    }
      
    


 @keyframes attente {
    0% {
        opacity: 1;
        z-index: 900;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
  }
  

@keyframes attente1 {
    
0% {
    transform: rotate(0turn);
}
100% {
    transform: rotate(1turn);
}
}
@keyframes attente2 {
    0% {
        transform: rotate(1turn);
    }
    100% {
        transform: rotate(0turn);
        
} 

}