/*cartes menus*/         

.plan
{
    
    background-color:$colour-greylight;
    border-radius: 37px 37px 0px 0px;
    margin-top: -42px;
    width: 100%;
    height: 1060px;

}        
.heart8
{
 @extend .heart;
 right: 1rem;
 top: 302px;

 
 }

 .heart9
 {
  @extend .heart1;
  right: 1rem;
  top: 302px;

  }
.menu
{
margin-left:15px;
margin-bottom: 10px;
font-size: 18px;
font-family: 'Roboto,'sans-serif;
color: #7e7e7e;
border-bottom: 5px solid $colour-accent;
width: 14%;
}

.plan__menu
 {
    background-color: $colour-white;
    width: 93%;
    margin: auto auto 14px auto;
    border-radius: 12px 12px;
    font-family: 'Roboto',sans-serif;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: affichage 1s forwards; 
    cursor: pointer;

    
    &:hover
{
  
  transform: translateX(-63px);
  transition-duration: 1s;
  opacity: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  
 
   /* transition: transform 0.4s ease-in-out, width 0.4s ease-in-out,opacity 0.4s ease-in-out;*/
   /* margin-left: 15px;
    width: 64%;*/
    
    
  
}
  }
@keyframes affichage
{
0% {
    transform: translateY(20px);
    opacity: 0%;}

100% {
    transform: translateY(0px);
    opacity: 100%;
}
}
.titre 
{
    font-family: 'ROBOTO', sans-serif;
    font-size: 15px;
    font-weight:599 ;
    margin-left: 9px;
    padding-top: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;

}
.details
{
    @extend .titre;
    width: 69%;
    font-weight: 500;
    margin-top: -10px;
    padding-bottom: 9px;
    font-size: 14px;
 
}
.titre p
{
  white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.prix
{
  @include price;
 
}


  


.prix1
{
    @extend .prix;
    top:514px;
    
}
.prix2
{
    @extend .prix;
    top:592px;
   
}
.prix3
{
    @extend .prix;
    top:717px;
}
.prix4
{
    @extend .prix;
    top:797px;
}
.prix5
{
    @extend .prix;
    top:877px;
}
.prix6
{
    @extend .prix;
    top:999px;
}
.prix7
{
    @extend .prix;
    top:1078px; 
}
.prix8
{
    @extend .prix;
    top:1158px;
}

.select
{  
    display: inline;
    position: absolute;
    background-color: #99E2D0;
    color: #fff;
    font-size: 30px;
    padding: 17px;
    border-radius: 0 20% 20% 0;
    top:-1.5%;
    left: 83%;
    cursor: pointer;
    pointer-events: auto;
    /*transform: translateX(-85px);*/
    
    opacity: 0;
    }
   .plan__menu:hover > .select  
      {
      
        transform: translateX(-11px);
        transition-duration: 1s;
        opacity: 1;
      
 }    
 
  
@keyframes selection {
    0%{
      transform: translateX(10px);
      opacity: 0;
    }
    100%{
      transform: translateX(-99px);
      opacity: 1;
    }
  }
  


    
.select1
 {
   @extend .select;
   top:-2%;
 }
 .select2
 {
   @extend .select;
   top:0.5%;
 }
 .select3
 {
   @extend .select;
   top:-1%;
 }
 
 .select4
 {
   @extend .select;
   top:-2%;
 }
 .select5
 {
   @extend .select;
   top:-1%;
 }
 .select6
 {
   @extend .select;
   top:-2%;
 }
 .select7
 {
   @extend .select;
   top:-1%;
 }
 .select8
 {
   @extend .select;
   top:-1%;
 }
.margin
{
margin-bottom: 10px;
}



  
  
.plan__menu:hover > .prix 
{
  transform: translateX(-45px);
  transition-duration: 1s;
  opacity: 1;
 
}

.plan__menu:hover >.select >.fa-check-circle
{
  
  animation: rotation 0.6s ease-in-out forwards;
}


@keyframes rotation {
  0% {
    
            transform: rotate(180deg);
  }
  100% {
    
            transform: rotate(360deg);
  }
}