.restaurant
{
    background-color:#f6f6f6 ;
    height: 1139px;
    padding: 1em 1em 1em 0em;
    margin-top: 3.5em;
 
}

.restaurant-img
{

  border-radius: 15px 15px 0px 0px;
  cursor: pointer;
  width: 100%;
  height: 165px;
  object-fit:cover;
  margin-bottom: -33px;
  
  }
.restaurant-couverture
{
  background-color: white;
  border-radius: 15px;  
  cursor: pointer;
   margin:29px auto auto 20px;
       
  }
  .restaurant-caractère
  {
    font-weight: 505;
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-top: 2.4rem;
  }

  .restaurant--link
    {
        text-decoration:transparent;
    }
    
  
  .restaurant-caractère-emplacement
   {
       margin-left: 1rem;
       margin-top: -0.8rem;
       padding-bottom: 0.5rem;
         
   }
 
  
  .heart 
   {
   	@include coeur;
       
  }
  
  .heart1
  {
    @extend .heart;
    top: 72.5rem;
    font-size: 24px;
    -webkit-text-fill-color: transparent;
    
    
  }
.fa-gradient:hover

  {
     background:-webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
     -webkit-background-clip: text;
      
    }

  
   
   .heart2
   {
	@extend .heart;
	top:89rem;
	
    }
    .heart3
   {
	@extend .heart1;
	top:89rem;
	}
    .heart4
   {
	@extend .heart;
	top: 105rem;
	
    }
    .heart5
   {
	@extend .heart1;
	 top: 105rem;
	
    }
    .heart6
   {
	@extend .heart;
	top: 121.2rem;
	
    }
   
    .heart7
    {
     @extend .heart1;
     top: 121.2rem;
         
     }

     
     .nouveau {
        
        background-color: #99E2D0;
        color: rgb(0, 128, 79);
        border-radius: 2px;
        padding: 3px 10px 4px 10px;
        top: 987px;
        right: 24px;
        font-weight: 417;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        position: absolute;
    }
    
    .nouveau1
    {
        @extend .nouveau;
        top: 1247px;
    }
     
  




    
   

.noir
{
    color:inherit;
    font-size: 5px;
}

