

$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-black: #000;
$colour-grey:#eaeaea;
$colour-greylight: #f6f6f6;
$colour-secondarylight:#efe3fd;
$colour-shadow:#dedada;